/JavaApplication1/nbproject/private/
/src/tren_lop/JavaApplication2/nbproject/private/
/src/tren_lop/JavaApplication2/build/
/src/tren_lop/UI_1/nbproject/private/
/src/tren_lop/QLSinhVien/nbproject/private/
/src/tren_lop/QLSinhVien/build/
